./lab1/images/football_ind.png
./lab1/images/pout.bmp
./lab1/images/cameraman.bmp
./lab1/images/pout.png
./lab1/images/text.bmp
./lab1/images/foggysf2.tif
./lab1/images/cameraman.jpg
./lab1/images/football_ind.bmp
./lab1/images/football.tif
./lab1/images/cameraman.png
./lab1/images/corn.png
./lab1/images/parrot.png
./lab1/images/football_.png
./lab1/images/text.jpg
./lab1/images/football_.jpg
./lab1/images/text.tif
./lab1/images/foggysf2.bmp
./lab1/images/football.png
./lab1/images/saturn.tif
./lab1/images/onion.bmp
./lab1/images/onion.jpg
./lab1/images/onion.tif
./lab1/images/foggysf2.png
./lab1/images/pout.jpg
./lab1/images/football.bmp
./lab1/images/saturn.jpg
./lab1/images/football_ind.jpg
./lab1/images/saturn.bmp
./lab1/.ipynb_checkpoints/
