.ipynb_checkpoints/
images/cameraman.bmp
images/cameraman.jpg
images/cameraman.png
images/foggysf2.bmp
images/foggysf2.png
images/foggysf2.tif
images/football_.png
images/football_.tif
images/football_ind.bmp
images/football_ind.jpg
images/football_ind.png
images/football.bmp
images/football.png
images/football.tif
images/onion.bmp
images/onion.jpg
images/onion.tif
images/pout.bmp
images/pout.jpg
images/pout.png
images/saturn.bmp
images/saturn.jpg
images/saturn.tif
images/text.bmp
images/text.jpg
images/text.tif